/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Globales*/
html{
     box-sizing: border-box;
   }
   *,*:before,*:after {
     box-sizing: inherit;
   }
   body{
     background-color: #f2f2f2;
     font-family: 'Open Sans', sans-serif;
   }
h1{
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
.seccion{
    padding: 30px 0;
}
.seccion p{
    font-size: 1.2em;
    text-align: center;
}


   /*Header*/
header.parallax{
      position: relative;
      height: auto;
    }
header.parallax::before{
      background-image: url(../img/hero.jpg);
      content: '';
    }
.parallax::before{
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
       background-attachment: fixed;
       filter: brightness(.8);
       -webkit-filter: brightness(.8);
     }
div.contenido-header{
  position: relative;

}
nav.redes-sociales{
  text-align: center;
}
@media only screen and (min-width: 768px){
  div.contenido-header{
    max-width: 80%;
  }
}
nav.redes-sociales a{
  color: #ffffff;
  font-size: 2em;
  margin-right: 1.25em;
}
nav.redes-sociales a:last-child {
    margin-right: 0;
}
img.logo{
  width: 20vh;
  text-align: center;
  margin: 4.5vh;
  margin-left: 8em;
}
@media only screen and (min-width: 768px){
  img.logo{
    float: left;
  }
}
header h1{
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3.5em;
  text-align: center;

}
header p{
  color: #ffffff;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

/*@media only screen and (min-width: 480px){
  header p{
    margin-bottom: 150px;
    margin-left: 650px;
  }
}
@media only screen and (min-width: 768px){
  header p{
    margin-bottom: 150px;
    margin-left: 650px;

  }
}*/

/*temas*/
/*.contenedor-grid{
  justify-content: center;
  display: grid;
  grid-template-columns: 300px ;
  grid-template-rows: repeat(6, 300px);
  grid-gap: 20px;
}

@media only screen and (min-width: 480px){
  .contenedor-grid{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: repeat(3, 350px);
    grid-gap: 20px;

  }
}
@media only screen and (min-width: 768px){
  .contenedor-grid{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: repeat(2, 400px);
    grid-gap: 20px;
    justify-content: center;
  }
}

.boxa {
  background-image: url(../img/construccion.jpg);
  -webkit-transition: all .6s ease-in-out;
}
.boxa:hover{
  background-image: url(../img/cons_hover.jpg);
  -webkit-transform: scale(1.1);
  background-size: cover;

}

.boxb {
  background-image: url(../img/mtto.jpg);
  -webkit-transition: all .6s ease-in-out;
}
.boxb:hover{
  background-image: url(../img/mtto_hover.jpg);
  -webkit-transform: scale(1.1);
  background-size: cover;
}
.boxc {
  background-image: url(../img/redes.jpg);
  -webkit-transition: all .6s ease-in-out;
}
.boxc:hover{
  background-image: url(../img/redes_hover.jpg);
  -webkit-transform: scale(1.1);
  background-size: cover;
}
.boxd {
  background-image: url(../img/automotriz.jpg);
  -webkit-transition: all .6s ease-in-out;
}
.boxd:hover{
  background-image: url(../img/automotriz_hover.jpg);
  -webkit-transform: scale(1.1);
  background-size: cover;
}
.boxe {
  background-image: url(../img/web.jpg);
  -webkit-transition: all .6s ease-in-out;
}
.boxe:hover{
  background-image: url(../img/web_hover.jpg);
  -webkit-transform: scale(1.1);
  background-size: cover;
}
.boxf {
  background-image: url(../img/vpas.jpg);
  -webkit-transition: all .6s ease-in-out;
}
.boxf:hover{
  background-image: url(../img/vpas_hover.jpg);
  -webkit-transform: scale(1.1);
  background-size: cover;
}
div.box p{
  font-weight: bold;
  bottom: 0;
  left: 0;
  padding: 15px 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all .6s ease-in-out;
  text-transform: full-width;
}
div.box:hover p{
  bottom: -80px;
  opacity: 0;
}
*/

/*Footer*/
.site-footer{
  background-color: #353535;
  padding-top: 40px;
  margin-top: 20px;
}
footer .contenedor >div{
  color: #ffffff;
  margin: 10px;
  font-size: 20px;
}
@media only screen and (min-width: 768px){
  footer .contenedor >div{
    width: 33.3%;
    float: left;
    margin: 0 auto;
    padding: 0 20px 0 7em;
  }
}
footer h3{
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
}
footer h3 span{
  color: #fe4918;
}
footer .links li{
  margin-bottom: 15px;
  list-style: none;

}
footer .links li a{
  text-decoration: none;
  color: #ffffff;
}
footer nav.redes-sociales{
  text-align: left;
}
footer p.copyright  {
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  margin: 20px 0 0 0;
}


/*servicios*/
ul.lista-servicios li{
    padding: 10px;
    float: left !important;
    list-style: none;
}
@media only screen and (min-width: 480px){
    ul.lista-servicios li{
        width: 50%;
    }
}
@media only screen and (min-width: 768px){
    ul.lista-servicios li{
        width: 33.3%;
    }
}
div.servicio{
    position: relative;
    overflow: hidden;
    width: fit-content;

}
div.servicio img{
    max-width: 100%;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .6s ease-in-out;
}
div.servicio:hover img{
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);

}
div.servicio p{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: #fe4918;
    text-transform: uppercase;
    -webkit-transition: all .6s ease-in-out;
}
div.servicio:hover p{
    bottom: -80px;
    opacity: 0;
}

/******Contenedor*****/
.contenedor{
    width: 90%;
    margin: 0 auto;
}
@media only screen and (min-widt: 480px){
    .contenedor{
        width: 95%;
    }
}
@media only screen and (min-widt: 768px){
    .contenedor{
        width: 90%;
    }
}
@media only screen and (min-widt: 992px){
    .contenedor{
        width: 90%;
        max-width: 1100px;
    }
}

/*Colorbox*/

div.cboxElement {
    padding: 10px;
    text-align: center;
}


















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
